<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Rezerwacje</title>
</head>
<body>
    <header>
        <div class="content">
            <h1><a>System rezerwacji sal</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Sale</a></li>
                    <li><a href="/search/">Wyszukaj</a></li>

                </ul>
            </nav>
        </div>
    </header>

    <div id="main">
        <div class="content">
                {% block content %}
                {% endblock %}
        </div>
    </div>


</body>
</html>