{% extends "base.html" %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
    <p>
        <a><b>Wprowadź dane rezerwacji (sala: {{ room.name }},
            pojemność: {{ room.capacity }},
            rzutnik: {{ room.has_projector }}):</b></a>
    </p><br>
    <table>
        <tr>
            <td><a>Dzień rezerwacji:</a></td>
            <td><input type="date" name="date"></td>
        </tr>
        <tr>
            <td><a>Komentarz:</a></td>
            <td><input type="text" name="comment"></td>
        </tr>
    </table><br>

    <p>
        <a><b>Lista dni, w których sala będzie zajęta:</b></a>
    </p><br>
    <table>
        {% if reservations %}
            {% for reservation in reservations %}
                <tr>
                    <td><a>{{ reservation.date }} </a></td>
                </tr>
            {% endfor %}
        {% else %}
            <p>
                <a>Brak rezerwacji</a>
            </p>
        {% endif %}
    </table>
    <br>

        <input type="submit" name="manage" value="Rezerwuj" class="button">
        <input type="submit" name="manage" value="Anuluj" class="button">
    </form><br>
    <p id="alert"><a>{{ info }}</a></p>

{% endblock %}